/* Import de la police d'écriture Syne */
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

/* Police d'écriture appliquée à tous les éléments de la page */
body * {
    font-family: 'Syne', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

/* Désactivation des titres de page générés automatiquement par WordPress */
.entry-title {
    display: none;
}

.entry-header {
    display: none;
}

/************ HEADER ************/

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #ffffff;
}

/* Menu de navigation header */

.primary-menu-container {
    display: flex;
    flex-direction: row;
    margin: 31px 0 31px 0;
    height: 80px;
    font-size: 19px;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.menu-wrapper a {
    text-decoration: none !important;
}

.menu-wrapper a:hover {
    font-weight: bold;
}

/* CSS spécifique à l'élement commander du nav */

#menu-item-371 {
    background-color: #dc9f96;
    padding: 15px 60px 15px 60px;
}

#menu-item-371 a {
    color:white;
}

#menu-item-371:hover {
    background-color: #C02E44;
}

/************ FOOTER ************/

footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    font-weight: bold;
}

/************ CONTENU DU SITE ************/

.site-content {
    background-color: #ece2da;
}

#main {
    padding-bottom: 0;
    padding-top: 0;
}

/* Formulaire Page Nous rencontrer */

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-contact {
    width: 383px;
}

.form-bouton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-bouton input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-bouton #bouton-contact {
    background-color: #E0B9B4;
    padding: 10px 70px;
    border-radius: 5px;
}

.form-bouton #bouton-contact:hover {
    color: #ffffff;
    background-color: #C02E44;
    border: none;
}

.form-contact input[type="text"],
.form-contact input[type="email"],
.form-contact textarea {
    border: none;
    border-radius: 7px;
    margin-bottom: 20px;
}

/* Page Commander */

.form-commande {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.form-commande h3 {
    color: white;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 30px;
    font-family: 'Syne', sans-serif;
}

.form-commande div {
    color: white;
}

.form-commande input[type="text"],
.form-commande input[type="email"] {
    border: none;
    border-radius: 7px;
    margin-bottom: 20px;
}

#bouton-commande {
    background-color: #E0B9B4;
    padding: 10px 70px;
    border-radius: 5px;
    margin-top: 30px;
}

#bouton-commande:hover {
    color: #ffffff;
    background-color: #C02E44;
    border: none;
}

.bordure {
    border-right: solid 1px white;
    padding-right: 90px;
}